<% if @current_user %>

<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>

  <div class="row">

      <% for entry in @entries %>
        <div class="col-md-4">

          <h3><%= entry["title"] %></h3>
          <h4><%= entry["occurred_on"] %></h4>
          <p><%= entry["description"] %></p>

          <% if entry.uploaded_image.attached? %>
            <p><img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid"></p>
          <% else %>
            <img src="<%= entry["image"] %>" class="img-fluid">
          <% end %>

        </div>

      <% end %>
  </div>

  <div class="col-6">
      <div class="p-3">

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

      </div>
    </div>


    <div class="col-6">
      <div class="p-3">

<p>
  <a href="/places">Back to All Places</a>
</p>

      </div>
    </div>

<%end%>