<% if @current_user %>

<div class="container text-center">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3">

<h1><%= @place["name"] %></h1>

      </div>
    </div>

    <div class="col-6">
      <div class="p-3">

<h2>My Entries</h2>
<% for entry in @entries %>
  <h3><%= entry["title"] %></h3>
  <h4><%= entry["occurred_on"] %></h4>
  <p><%= entry["description"] %></p>
<% end %>

      </div>
    </div>

    <div class="col-6">
      <div class="p-3">

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

      </div>
    </div>

    <div class="col-6">
      <div class="p-3">

<p>
  <a href="/places">Back to All Places</a>
</p>

      </div>
    </div>
  </div>
</div>

<%end%>